<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.project.web.user.mapper.LiuyanMapper" >
  <resultMap id="BaseResultMap" type="cn.com.project.web.user.domain.Liuyan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, title, content, date, u_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from liuyan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListLy" resultMap="BaseResultMap" parameterType="cn.com.project.web.user.domain.Liuyan" >
    select 
    <include refid="Base_Column_List" />
    from liuyan
  	 <where>
           <if test="account !=null and account !=''">
            and account=#{account}
           </if>
      </where>
  </select>
  <delete id="deleteLy" parameterType="java.lang.Integer" >
    delete from liuyan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertLy" parameterType="cn.com.project.web.user.domain.Liuyan" >
    insert into liuyan (id, account, title, 
      content, date, u_id)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.project.web.user.domain.Liuyan" >
    insert into liuyan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.project.web.user.domain.Liuyan" >
    update liuyan
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.project.web.user.domain.Liuyan" >
    update liuyan
    set account = #{account,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      u_id = #{uId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>