<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.project.web.user.mapper.PingJiaMapper" >
  <resultMap id="BaseResultMap" type="cn.com.project.web.user.domain.PingJia" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="s_id" property="sId" jdbcType="VARCHAR" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="cn.com.project.web.user.domain.PingJia" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="s_id" property="sId" jdbcType="VARCHAR" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, date, content, s_id, u_id
  </sql>
  <sql id="Base_Column_List1" >
    id, name, date, content, s_id, u_id,sname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pingjia
    where s_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap1" parameterType="cn.com.project.web.user.domain.PingJia" >
    select 
     pj.id,  pj.name,  pj.date,  pj.content,  pj.s_id,  pj.u_id,sp.sname
    from pingjia pj left join shangpin sp
    on pj.s_id=sp.id
    <where>
           <if test="name !=null and name !=''">
            and pj.name=#{name}
           </if>
      </where>
      order by pj.id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pingjia
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.project.web.user.domain.PingJia" >
    insert into pingjia (id, name, date, 
      content, s_id, u_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{sId,jdbcType=VARCHAR}, #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.project.web.user.domain.PingJia" >
    insert into pingjia
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.project.web.user.domain.PingJia" >
    update pingjia
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sId != null" >
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.project.web.user.domain.PingJia" >
    update pingjia
    set name = #{name,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      s_id = #{sId,jdbcType=VARCHAR},
      u_id = #{uId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>